@import 'bourbon/bourbon';

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; 
  margin: 0 auto;
  width: 1000px;
}

//change header soon, when tweaking
.header {
  background-color: #fff; 
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.headercontent {
  width: 1000px;
  height: 60px;;
  padding: 0;
  border: 2px solid black;
  margin: 0 auto;

}

.headerLeft {
  // border:1px solid red;
  width: 510px;
  height: 40px;
  float: left;
}

.headerLeftNav {
  float: left;
  list-style: none;
    li {
      float: left;
      padding-left: 10px;
    }   
        a {
          text-decoration: none;
        }
}
.headerRight {
  width: 410px;
  height: 40px;
  float: right;
}

#header {
  width: 130px;
  float: right;
  padding-top: 12px;
}

.avatar2 {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.name2 {
  float: right;
  margin: 6px 20px 0 0;
    text-decoration: none;
    color: #4183c4;
}

.headerNav {
  float: right;
  padding: 18px 8px 0px 0px;
}

.container {
  padding-top: 25px;
  width: 1000px;
  margin: 0 auto;

}

.containerLeft {
  float: left;
  border: 3px solid pink;
}

.avatar {
  height: 240px; 
  width: 240px;
  border-radius: 10px;
}

.name {
  font-size: 18px;
  color: rgb(65, 131, 196 );
}

#name {
  color: #bbb;
}
.followers {
  font-size: 30px;
  color: black;
}

.following {
  font-size: 30px;
  color: blue;
}

.containerMid {
float: right;
width: 730px;
height: auto;
}

.containerRight {
  width: 730px;
  float: right;
    ul {
      list-style: none;
    }
}



.repo {
  width: 730px;
  height: auto;
  float: left;
  list-style: none;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #eee;
    .update {
     color: rgb(149, 149, 149);
     margin-left: 25px;
    font-size: 12px;
  }
}

.apiRight {
  width: 200px;
  color: rgb(136,  136, 136);
  float: right;
  text-align: right;
  margin: -10px 0px 11px 0px;
}



.line {
  border-bottom: 1px solid #dcdcdc;
  height: 42px;
  overflow: hidden;


}

#mytabs {
  float: left;

.tabs { 
  list-style: none; 
  float: left;
  padding: 0;

  li { 
    display: inline; 
  }

    a { 
    display: inline-block; 
    float: left; 
    padding: 4px 8px; 
    color: rgb(116,  116, 116) ;

    margin: 0 0 0 -1px; 
    text-decoration: none;
    border-bottom: 1px solid rgb(220, 220, 220 );
    }

      a.current { 
      border-bottom: 0; 
      border-top: 1px solid rgb(220, 220, 220 );
      border-left: 1px solid rgb(220, 220, 220 );
      border-right:1px solid rgb(220, 220, 220 );
      border-radius: 5px 5px 0 0;
      color: rgb(31, 31,  31);
     }
  }
}
.box-wrapper { 
  -moz-box-shadow: 0 0 20px black; 
  -webkit-box-shadow: 0 0 20px black; 
  padding: 20px; background: #fff; 
  border: 1px solid #ccc; 
  margin: -1px 0 0 0; 
  height: 210px; 
  position: relative; }




//new element trying out


.containerMid2 {
  width: 730px;
  height: auto;
  float: right;
  border-bottom: 1px solid #959595;
}

  #searchBox {
  width: 275px;
  padding: 13px 10px 10px 0px;
  float: left;
    #search {
      font-size: 18px;
      border-radius: 5px;
      color: rgb(107, 103, 103); 
      border: 1px solid #CEC8C8;
    }
}

#button1:hover {
  background-color: rgb(228, 228, 228 );
}


#button1 {
  background-color: rgb(243, 243, 243 );
  border-radius: 5px;
  border: 1px solid #CEC8C8;
}

.searchBoxNav {
  width: 325px;
  float: left;
  list-style: none;
  padding: 0 0 0 25px;
    li {
      display: inline-block;
      margin-right: 5px;
        .default {
          color: black;
          font-weight: bold;
        }
        a {
          text-decoration: none;
          color: rgb(65, 131, 196);
        }
        a:hover {
          text-decoration: underline;
        }
    }
}


.book {
    font-size: 14px;
    padding: 8px 9px 8px 14px;
    float: right;
    margin-top: 8px;
    background-color: #6bbc4f;
    border: 1px solid #6bbc4f;
    border-radius: 5px;
    color: white;
     
          }
.book:hover {
  background-color:  #4AAC28;   
}

.footer {
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0 0 0       ;
  clear: both;
  
}

.footerContent {
  height: 55px;
  width: auto;
  border-top: 1px solid #eee;
  padding-top: 15px;
}
.footerLeft {
  float: left;
  width: 495px;
  height: 100px;
  list-style: none;
  display: inline-block;
  font-size: 12px;
    li, a {
      float: left;
      display: inline-block;
      margin-left: 5px;
      text-decoration: none;
      font-size: 12px;
      color: #4183c4;
    }
    :hover {
      text-decoration: underline;
    }
}

#mega {
  margin-left: -12px;
  font-size: 24px;
  color: #ccc;
  &:hover {
    color: #aaa;
  }
}


.footerRight {
  float: right;
  width: 400px;
  height: 100px;
  list-style: none;
  display: inline-block;
  font-size: 12px;
  a {
    float: right;
    margin-left: 5px;
    text-decoration: none;
    color: #4183c4;
  }
  :hover {
      text-decoration: underline;
    }

}


 